
html{
    box-sizing: border-box;
    font-size: 100%;
}
h1{
    font-size: 6rem;
}
body{
    margin: 0;
    padding: 0;
    font-family:  'Josefin Sans', sans-serif;
    //font-weight: 400;
    font-size: $fontSizeMain;
    min-height: 200vh;
}

.container{
    padding: 3.375rem 7.75rem;
    margin: 0 auto;
    //overflow: hidden;

    @include breakpoint-down(medium){
        padding: 3.375rem 3.75rem;
        margin: 0 auto;
    }
    
    @include breakpoint-down(small){
        padding: 2.5rem 1.5rem;
        margin: 0 auto;
    }
}

// button
.button{
    position: relative;
    background-color: transparent;
    border: 1px solid $black;
    color: $black;
    font-size: 1rem;
    width: 9.8125rem;
    height: 2.5rem;

    &:hover{
        background-color: $black;
        color: $white;
    }
}

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    &-jc-sb{
        justify-content: space-between;
    }
    &-jc-sa{
        justify-content: space-around;
    }
    &__row{
        flex-direction: row;
    }
    &__col{
        // flex-wrap: wrap;
        flex-direction: column;
    }
    
}

.hide-for-desktop{
    @include breakpoint-up(large){
        display: none;
    }
}
.hide-for-mobile{
    @include breakpoint-down(medium){
        display: none;
    }
}
