html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 6rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.9375rem;
}

@media (max-width: 39.9375em) {
  body {
    margin: auto;
    text-align: center;
  }
}

.container {
  padding: 3.375rem 7.75rem;
  margin: 0 auto;
}

@media (max-width: 63.9375em) {
  .container {
    padding: 3.375rem 3.75rem;
    margin: 0 auto;
  }
}

@media (max-width: 39.9375em) {
  .container {
    padding: 2.5rem 1.5rem;
    margin: 0 auto;
  }
}

.button {
  position: relative;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  font-size: 1rem;
  width: 9.8125rem;
  height: 2.5rem;
}

.button:hover {
  background-color: black;
  color: white;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column wrap;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-sa {
  justify-content: space-around;
}

.flex__row {
  flex-direction: row;
}

.flex__col {
  flex-direction: column;
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

.banner__image {
  background-image: url("/loopstudios/images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 35rem;
}

@media (max-width: 39.9375em) {
  .banner__image {
    background-image: url("/loopstudios/images/mobile/image-hero.jpg");
  }
}

.overlay {
  z-index: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: black;
  opacity: 1;
}

.header.open .header__toggle > span:first-child {
  transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  transform: rotate(-45deg);
}

.header__flex {
  z-index: 1;
}

.header__logo {
  z-index: 1;
}

@media (max-width: 39.9375em) {
  .header__logo img {
    height: 1.5rem;
    width: 9.0625rem;
  }
}

.header__toggle > span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: white;
  transition: all 300ms ease-in-out;
  transform-origin: 4px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 6px;
}

.header__links a {
  position: relative;
  color: white;
  text-decoration: none;
}

.header__links a:not(:last-child) {
  margin-right: 1.5rem;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  left: 30%;
  right: 30%;
  bottom: -10px;
  background: white;
  opacity: 0;
}

.header__links a:hover::before {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.header__mobile {
  position: absolute;
  z-index: 1;
  padding-top: 10rem;
}

.header__mobile a {
  font-size: 1.8rem;
  font-weight: 200;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.header__mobile a:not(:first-child) {
  padding-top: 1.9375rem;
}

.header__title__mobile {
  margin: auto;
  text-align: center;
  color: white;
  font-size: 2.5rem;
  width: 85%;
  font-weight: 300;
  border: 1px solid white;
  padding: 1rem;
  margin-top: 3rem;
}

.header__title__mobile .text {
  text-align: left;
}

.header__title {
  width: 45rem;
}

.header__title fieldset {
  border: 0.1rem solid white;
  margin-top: 5rem;
}

.header__title fieldset .text {
  padding: 1.2rem;
  margin-top: 0.5rem;
  font-size: 5rem;
  color: white;
  font-weight: 200;
  line-height: 1;
}

.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}

.article {
  margin-top: 6rem;
}

.article__image {
  background-image: url("/loopstudios/images/mobile/image-interactive.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 14rem;
}

@media (min-width: 64em) {
  .article__image {
    background-image: url("/loopstudios/images/mobile/image-interactive.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 30rem;
    width: 60%;
    position: absolute;
  }
}

.article__text {
  margin-top: 3.125rem;
  background-color: white;
  position: relative;
}

@media (min-width: 64em) {
  .article__text {
    margin-top: 14.125rem;
    text-align: left;
    padding: 5rem 5rem;
    width: 36%;
    left: 59%;
    display: block;
    position: relative;
  }
}

.article__title {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 64em) {
  .article__title {
    font-size: 2.2rem;
    text-align: left;
  }
}

.article__description {
  margin-top: 1.9375rem;
  color: #8c8c8c;
  font-size: 1rem;
  letter-spacing: 1.05;
  text-align: center;
}

@media (min-width: 64em) {
  .article__description {
    text-align: left;
    margin-top: 1.9375rem;
  }
}

.cards__intro {
  font-size: 2rem;
  font-weight: 300;
  align-self: center;
}

@media (max-width: 63.9375em) {
  .cards__intro {
    text-align: center;
  }
}

@media (min-width: 64em) {
  .cards__items__grid {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap row;
    margin-top: 4rem;
    width: 100%;
    row-gap: 10px;
  }
}

@media (max-width: 63.9375em) {
  .cards__items__grid {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap row;
    margin-top: 4rem;
    width: 100%;
  }
}

.cards__item:hover {
  transform: scale(1.08);
  transition: all 300ms ease-in-out;
}

@media (min-width: 64em) {
  .cards__item {
    margin-right: 1rem;
  }
}

@media (min-width: 64em) {
  .cards__item .cards__title {
    position: relative;
    font-size: 30px;
    bottom: 20%;
    left: 20%;
    color: white;
    font-weight: 300;
  }
}

@media (max-width: 63.9375em) {
  .cards__item .cards__title {
    position: relative;
    font-size: 30px;
    bottom: 35%;
    left: 10%;
    color: white;
    font-weight: 300;
  }
}

@media (max-width: 39.9375em) {
  .cards__item .cards__title {
    font-size: 20px;
  }
}

@media (max-width: 39.9375em) {
  .cards__image img {
    display: block;
    position: relative;
    width: 100%;
  }
}

@media (max-width: 63.9375em) {
  .cards__button {
    text-align: center;
  }
}

.footer {
  background-color: black;
}

@media (max-width: 63.9375em) {
  .footer {
    text-align: center;
  }
}

@media (min-width: 64em) {
  .footer .container {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo social" "links copyright";
  }
}

.footer__logo {
  grid-area: logo;
}

.footer__logo img {
  width: 9.0625rem;
  height: 1.5rem;
}

.footer__links {
  grid-area: links;
}

.footer__links a {
  margin-top: 1.8rem;
  display: block;
  text-decoration: none;
  color: white;
}

@media (min-width: 64em) {
  .footer__links a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: white;
  }
  .footer__links a:not(:last-child) {
    margin-right: 1rem;
  }
}

@media (min-width: 64em) {
  .footer__links a::before {
    content: "";
    position: relative;
    display: block;
    height: 2px;
    width: 50%;
    left: 25%;
    bottom: -21px;
    background: white;
    opacity: 0;
  }
  .footer__links a:hover::before {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }
}

.footer__social {
  grid-area: social;
  margin-top: 1.2rem;
  padding: 5px;
}

@media (min-width: 64em) {
  .footer__social {
    margin-top: 0;
  }
}

.footer__social a:not(:last-child) {
  margin-right: 1rem;
}

.footer__social a:hover {
  border-bottom: 2px solid white;
  transition: all 300ms ease-in-out;
}

.footer__social a:hover::after {
  opacity: 1;
}

@media (min-width: 64em) {
  .footer__social a::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    background: white;
  }
  .footer__social a:hover::before {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }
}

.footer__copyright {
  margin-top: 1.2rem;
  color: #8c8c8c;
  font-size: 0.8rem;
  grid-area: copyright;
}

@media (min-width: 64em) {
  .footer__copyright {
    margin-top: 1.75rem;
  }
}

.footer__attribution {
  margin-top: 1.2rem;
  font-size: 0.5rem;
  color: white;
}

.footer__attribution > a {
  text-decoration: none;
  color: white;
}

@media (min-width: 64em) {
  .col1 {
    text-align: left;
  }
}

@media (min-width: 64em) {
  .col2 {
    text-align: right;
  }
}
/*# sourceMappingURL=styles.css.map */